<!DOCTYPE html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="background-color: #ffffcc;">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <div class="container-fluid">

    <div style="position: absolute; left: 20%"><h1 style="color: #ff1a1a;">Simulation of the Sleeping Barber Problem</h1></div>

    <button type = "button", id ="mirror", name = "mirror", style="height:25px;width:190px;position:absolute;top:10%;left:38%;background-color:#00BFFF"> </button>
    <button type = "button", id ="seat", name = "seat", style="height:200px;width:220px;position:absolute;top:15%;left:37%;background-color:#DC143C"> </button>
    <img src = "{% static 'img/haircut.png' %}", id ="cust", name = "cust", style="height:125px;width:125px;position:absolute;top:20%;left:42%; display: none;"></button>
    <img src = "{% static 'img/sleep.png' %}", id ="barber", name = "barber", style="height:120px;width:120px;position:absolute;top:49%;left:40%;">


    <button type = "button", name = "one", style="height:100px;width:120px;position:absolute;top:75%;left:11%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="one" style="height:80px; width:80px;display:none; position: relative; left: 10%;"> </button>
    <button type = "button",  name = "two", style="height:100px;width:120px;position:absolute;top:75%;left:20%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="two" style="height:80px; width:80px;display:none; position: relative; left: 10%;"></button>
    <button type = "button", name = "three", style="height:100px;width:120px;position:absolute;top:75%;left:29%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="three" style="height:80px; width:80px;display:none; position: relative; left: 10%;"></button>
    <button type = "button", name = "four", style="height:100px;width:120px;position:absolute;top:75%;left:38%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="four" style="height:80px; width:80px;display:none; position: relative; left: 10%;"></button>
    <button type = "button", name = "five", style="height:100px;width:120px;position:absolute;top:75%;left:47%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="five" style="height:80px; width:80px;display:none; position: relative; left: 10%;"></button>
    <button type = "button", name = "six", style="height:100px;width:120px;position:absolute;top:75%;left:56%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="six" style="height:80px; width:80px;display:none; position: relative; left: 10%;"></button>
    <button type = "button", name = "seven", style="height:100px;width:120px;position:absolute;top:75%;left:65%;background-color:white"> <img src = "{% static 'img/man.png' %}" id ="seven" style="height:80px; width:80px;display:none; position: relative; left: 10%;"></button>

    <!--button type ="button", onclick ="initiate()">Next!</button-->

    <button class="btn btn-primary" id ="prod", type ="button", onclick ="produce()", style ="height:50px;width:250px;position:absolute;top:60%;left:15%;font-size:25px">Enter</button>
    <button class="btn btn-primary" id ="con", type ="button", onclick ="exit()", style ="height:50px;width:250px;position:absolute;top:60%;left:55%;font-size:25px" disabled>Exit</button>

    <button class="btn btn-danger" id ="buffer-size", type ="button" style ="height:50px;width:143px;position:absolute;top:25%;left:78%;">Waiting Seats = 7</button>
    <button class="btn btn-danger" id ="count", type ="button" style ="height:50px;width:143px;position:absolute;top:33%;left:78%;">Waiting = 0</button>


    <script type = "text/javascript">
      var queue = [0,0,0,0,0,0,0]; var num=0;
      var rear =-1; var front =-1;
      var hc = 0;

      function counter()
      {
        var counter = rear-front +1;
        console.log(rear)
        if(rear == -1 )
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 0"
        }
        else if(counter==1)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 1"
        }
        if(counter==2)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 2"
        }
        if(counter==3)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 3"
        }
        if(counter==4)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 4"
        }
        if(counter==5)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 5"
        }
        if(counter==6)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 6"
        }
        if(counter==7)
        {
          var change = document.getElementById("count");
          change.innerHTML ="Waiting = 7"
        }

      }

      function check()
      {
        if(hc==1)
        {
          document.getElementById("con").disabled = false;
        }
        if(num<6)
        {
          document.getElementById("prod").disabled = false;
        }
      }

      function color()
      {
        if(hc == 1)
        {
          document.getElementById("cust").style.display = 'block';
          document.getElementById("barber").src = "{% static 'img/awake.png' %}";
        }
        if(hc == 0)
        {
          document.getElementById("cust").style.display = 'none';
          document.getElementById("barber").src= "{% static 'img/sleep.png' %}";
        }
        if(queue[0]==1)
        {
          document.getElementById("one").style.display= 'block';
        }
        if(queue[1]==1)
        {
          document.getElementById("two").style.display= 'block';
        }
        if(queue[2]==1)
        {
          document.getElementById("three").style.display= 'block';
        }
        if(queue[3]==1)
        {
          document.getElementById("four").style.display= 'block';
        }
        if(queue[4]==1)
        {
          document.getElementById("five").style.display= 'block';
        }
        if(queue[5]==1)
        {
          document.getElementById("six").style.display= 'block';
        }
        if(queue[6]==1)
        {
          document.getElementById("seven").style.display= 'block';
        }

        if(queue[0]==0)
        {
          document.getElementById("one").style.display= 'none';
        }
        if(queue[1]==0)
        {
          document.getElementById("two").style.display= 'none';
        }
        if(queue[2]==0)
        {
          document.getElementById("three").style.display= 'none';
        }
        if(queue[3]==0)
        {
          document.getElementById("four").style.display= 'none';
        }
        if(queue[4]==0)
        {
          document.getElementById("five").style.display= 'none';
        }
        if(queue[5]==0)
        {
          document.getElementById("six").style.display= 'none';
        }
        if(queue[6]==0)
        {
          document.getElementById("seven").style.display= 'none';
        }
        check();
      }

      function produce()
      {
          num++;
          if(num==7)
          {
            document.getElementById("prod").disabled = true;
          }
          if(front == -1 && rear ==-1)
          {
            front =0;
            rear =0;
            queue[rear] =1;
          }
          else
          {
              rear = (rear+1)%7;
              queue[rear]=1;
          }

          if(hc==0)
          {
            hc=1;
            consume();
          }
        color();
        counter();

      }

      function consume()
      {
        num--;
        if(num==0 && hc == 0)
        {
          document.getElementById("con").disabled = true;
        }
        if(front==rear)
        {
          queue[front] =0;
          front =-1;
          rear =-1;
        }
        else
        {
          queue[front]=0;
          front = (front+1)%7;
        }
        color();
        counter();
      }

      function exit()
      {
        if(hc == 1)
        {
          if(rear!=-1)
          {
            consume();
          }
          else
          {
            hc=0;
            color();
          }
          if(hc == 0)
          {
            document.getElementById("con").disabled = true;
          }
        }
      }
    </script>

    <div style="color: black;">
      <p style="position:absolute;top:60%;left:79%;font-size:22px"><b> For Barber: </b></p>
      <img src = "{% static 'img/sleep.png' %}", style="height:25px;width:25px;position:absolute;top:65%;left:80%;">
      <p style="position:absolute;top:65%;left:82%;font-size:20px"> Sleeping </p>
      <img src = "{% static 'img/awake.png' %}", style="height:25px;width:25px;position:absolute;top:70%;left:80%;">
      <p style="position:absolute;top:70%;left:82%;font-size:20px"> Awake </p>
      <p style="position:absolute;top:75%;left:79%;font-size:22px"><b> For Seats: </b></p>
      <button type = "button", style="height:25px;width:25px;position:absolute;top:80%;left:80%;background-color:#FFFFFF"> </button>
      <p style="position:absolute;top:80%;left:82%;font-size:20px"> Available </p>
      <img src = "{% static 'img/man.png' %}", style="height:25px;width:25px;position:absolute;top:85%;left:80%;">
      <p style="position:absolute;top:85%;left:82%;font-size:20px"> Occupied </p>
    </div>
  </div>
</body>
