 {% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>
        Memory Allocation Techniques
    </title>


    <!-- CSS Additional Files -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- JavaScript Additional Files -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
</head>
<body style="background-color: #e1f7d5; color: black">
<div class="container-fluid">
    <div id="top-content">
        <h1 id="page-heading">
            Memory Management Techniques
        </h1>
    </div>
    <div id="middle-content" style="margin-top:15%;">
    	<div class="w3-animate-top">
        <h3 style="text-align: center">What do you want to see?</h3>
        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3" style="text-align: center;">
            	<div class="w3-animate-left">
            	<div class="card bg-primary" style="width: 21rem; height: 13rem;" style="text-align: center;">
            		<br>
                <a href="{% url 'mat:mat-get-data' %}">
                <div id="link" style="margin-left: 25%;">
                    <h3 style = "color: white">MFT</h3>
                </div>
                </a>
            </div>
        </div>
            </div>
            <div style="text-align: center; position: relative; left: 10%;">
            	<div class="w3-animate-right">
            	<div class="card bg-primary" style="width: 21rem; height: 13rem;" style="text-align: center">
            		<br>
                <a href="{% url 'mat:mvt-get-data' %}">
                <div id="link" style="margin-left:25%;">
                    <h3 style= "color: white">MVT</h3>
                </div>
                </a>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
