<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="padding:10px; background-color: #CD9B9B ;">
<div class="header">
  <h1>Page Replacement Algorithms</h1>
</div>
<br>
<br>
<div class="container">
  <center></center><button type="button" class="button" data-toggle="modal" data-target="#myModal" style="height:175px;width:175px;position:absolute;top:43%;left:44%;border-radius:125px;border:1px solid #000">Enter details</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h3 class="modal-title">Enter details</h3></center>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div id="input">
              <h4>Reference string :</h4>
              <input type="text" class="requests form-control" placeholder="Enter requests"></input>
              <h4>Number of frames :</h4>
              <input type="text" class="size form-control" id="csize" placeholder="Enter number of frames"></input>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <center><button style="width: 175px;e;font-size: 20px;padding: 8px 16px;" id="submit" class="button" data-dismiss="modal">Submit</button></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <center></center><button type="button" class="button" data-toggle="modal" data-target="#myModal1" style="height:125px;width:125px;position:absolute;top:20%;left:26%;border-radius:125px;border:1px solid #000">FIFO</button>
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h3 class="modal-title">First In First Out</h3></center>
        </div>
        <div class="modal-body">
          <div id="fifo">

          </div>
          <div class="answer" id="answers1"></div>
        </div>
        <div class="modal-footer">
          <center> <button class="proceed hidden btn btn-primary" id="proceed1">Proceed</button><br><br></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <center></center><button type="button" class="button" data-toggle="modal" data-target="#myModal2" style="height:125px;width: 125px;position:absolute;top:73%;left:26%;border-radius:125px;border:1px solid #000">LRU</button>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h3 class="modal-title">Least Recently Used</h3></center>
        </div>
        <div class="modal-body">
          <div id="lru">

          </div>
          <div class="answer" id="answers2"></div>
        </div>
        <div class="modal-footer">
          <center> <button class="proceed hidden btn btn-primary" id="proceed2">Proceed</button><br><br></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <center></center><button type="button" class="button" data-toggle="modal" data-target="#myModal3" style="height:125px;width:125px;position:absolute;top:73%;left:68%;border-radius:125px;border:1px solid #000">OPT</button>
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h3 class="modal-title">Optimal</h3></center>
        </div>
        <div class="modal-body">
          <div id="opt">

          </div>
          <div class="answer" id="answers3"></div>
        </div>
        <div class="modal-footer">
          <center> <button class="proceed hidden btn btn-primary" id="proceed3">Proceed</button><br><br></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <center></center><button type="button" class="button" data-toggle="modal" data-target="#myModal4" style="height:150px;width:150px;position:absolute;top:20%;left:68%;border-radius:125px;border:1px solid #000">2nd CHANCE</button>
  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <center><h3 class="modal-title">Second Chance</h3></center>
        </div>
        <div class="modal-body">
          <div id="second_chance">

          </div>
          <div class="answer" id="answers4"></div>
        </div>
        <div class="modal-footer">
          <center> <button class="proceed hidden btn btn-primary" id="proceed4">Proceed</button><br><br></center>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<script>


var count1= 0;
var count2= 0;
var count3= 0;
var count4= 0;
var cacheSize = 3;
var data = [1,3,2,1,2,4,5,2]
var output = {'states': [{'status': 'M', 'cache': '1 -1 -1'}, {'status': 'M', 'cache': '1 3 -1'},{'status': 'M', 'cache': '1 3 2'}, {'status': 'H', 'cache': '1 3 2'},{'status': 'H', 'cache': '1 3 2'}, {'status': 'M', 'cache': '4 3 2'}, {'status': 'M', 'cache': '4 5 2'}, {'status': 'H', 'cache': '4 5 2'}],  'hit-ratio': 0.375, 'hits': 3, 'miss': 5};
var states = output["states"];
var hits = [output["hits"],output["hits"],output["hits"],output["hits"]];
var misses = [output["miss"],output["miss"],output["miss"],output["miss"]];
var hitratio = [output["hit-ratio"],output["hit-ratio"],output["hit-ratio"],output["hit-ratio"]];


$("#submit").click(function(){
    data = $(".requests").val().trim().split(" ");
    cacheSize = parseInt($(".size").val().trim());
    count1 = count2 = count3 = count4 = 0;
    $("#fifo,#lru,#opt,#second_chance,.answer").empty();
    $('#fifo,#lru,#opt,#second_chance').css('height',(data.length/8)*300+'px');
    var reqs = JSON.stringify(data.map(Number));
    var csize = JSON.stringify(cacheSize);
    $.post('/memory/fifo/',{requests: reqs, size: csize}, function(result){

      output = result;

      hits = [output['fifo']["hits"],output['lru']["hits"],output['opt']["hits"],output['second_chance']["hits"]];
      misses = [output['fifo']["miss"],output['lru']["miss"],output['opt']["miss"],output['second_chance']["miss"]];
      hitratio = [output['fifo']["hit-ratio"],output['lru']["hit-ratio"],output['opt']["hit-ratio"],output['second_chance']["hit-ratio"]];
      $(".proceed").removeClass("hidden");
    });



});

function drawCard(idname,count){
var i,j;
var input = document.getElementById("input");
var result = document.getElementById("idname");
if(count ==0){
var card = document.createElement("div");
card.setAttribute("class", "card");

var div = document.createElement("div");
div.setAttribute("class", "request");
div.innerHTML = "Request :";
card.appendChild(div);
for(j=0;j<cacheSize;++j){
  var div1 = document.createElement("div");
  div1.innerHTML = "Cache[" + j + "]";
  card.appendChild(div1);
}

var div0 = document.createElement("div");
div0.setAttribute("class", "hitmiss status");
div0.innerHTML = "Status : ";
card.appendChild(div0);

$(card).hide().appendTo("#"+idname).fadeIn(1000);
}
  i = count;
  var card = document.createElement("div");
  card.setAttribute("class", "card");
  var tempCache = output[idname]["states"][i]["cache"].split(" ");

  var div = document.createElement("div");
  div.setAttribute("class", "request");
  div.innerHTML = data[i];
  card.appendChild(div);
  for(j=0;j<cacheSize;++j){
    var div1 = document.createElement("div");
    if(tempCache[j] == "-1") div1.innerHTML = "-"
    else div1.innerHTML = tempCache[j];
    card.appendChild(div1);
  }

  var div0 = document.createElement("div");
  div0.setAttribute("class", "hitmiss");
  if(output[idname]["states"][i]["status"] == 'H'){
    div0.innerHTML = "hit";
    div0.className +=" hit";
  }
  else{
    div0.innerHTML = "miss";
    div0.className +=" miss";
  }
  card.appendChild(div0);

  $(card).hide().appendTo("#"+idname).fadeIn(1000);
  //result.appendChild(card);
}

function cleanup(no){
  $("#proceed"+no).addClass("hidden");

   div0 = document.getElementById("answers"+no);
   div0.innerHTML = "<br><h2 style='text-align: center;'>Page hits: "+ hits[no-1] + ",   Page faults: "+misses[no -1] + ",   Hit ratio: "+hitratio[no-1]+"</h2>";
   div0.setAttribute("text-align","center");
   br = document.createElement("br");
   $(div0).hide().fadeIn(1000);

}
$("#proceed1").click(function(){
  drawCard("fifo",count1);
  count1++;
  if(count1 == data.length){
    cleanup(1);
  }

});

$("#proceed2").click(function(){
  drawCard("lru",count2);
  count2++;
  if(count2 == data.length){
    cleanup(2);
  }

});

$("#proceed3").click(function(){
  drawCard("opt",count3);
  count3++;
  if(count3 == data.length){
    cleanup(3);
  }
});

$("#proceed4").click(function(){
  drawCard("second_chance",count4);
  count4++;
  if(count4 == data.length){
    cleanup(4);
  }

});

</script>
<style>

.header{
    padding: 1em;
    color: white;
    width: 100%;
    height: 100px;
    /*background-color: black;*/
    color: black;
    font-family: Courier;
    text-align: center;
    /*box-shadow: 10px 10px 5px grey;*/
}

.button {
    background-color: black;
    color: white;
    padding: 16px 32px;
    border: 2px solid ;
    border-radius: 40px;
    font-family: "Comic Sans MS", cursive, serif;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 250px;
}

.button:hover {
    background-color: white;
    color: black;
}

.tab-content,.nav nav-tabs{
  padding:30px;
}

#result{
  margin-top: 25px;
}

#input{
  margin: 10px;
}
.card{
  position: relative;
  border: 1px solid black;
  float: left;
  text-align: center;
  width:100px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.request{
  border-bottom:  1px solid black;
  margin-bottom: 10px;
}

.hitmiss{
  margin-top: 10px;
  border-top: 1px solid black;
  color: white;
}
.hit{
  background-color: green;
}
.miss{
  background-color: red;
}

.status{
  color: black;
}
.hidden{
  display:none;
}

#answers{
  display:block;
  padding: 30px;
}
.ans{
  text-transform: capitalize;
}
.nav.nav-tabs{
  margin-left:10px;
}
h1{
  text-align: center;
  font-family:Courier;
}
h3{
  font-size:30px;
}
#csize{
  width: 300px;
  position: relative;
  float:left;
}
#submit{
  margin-left: 10px;
}
.proceed{
  float: right;
  margin-right: 10px;
}
</style>

</html>


